[submodule "tesseract-ocr"]
	path = vendor/tesseract-ocr
	url = https://github.com/tesseract-ocr/tesseract.git
  # ignore files added during build
  ignore = untracked
[submodule "leptonica"]
	path = vendor/leptonica
	url = file:///Users/bryfox/dev/_ext/leptonica/
  # ignore files added during build
  ignore = untracked
[submodule "libtiff-ios"]
	path = vendor/libtiff-ios
	url = https://github.com/ashtons/libtiff-ios.git
  # ignore files added during build
  ignore = untracked
[submodule "vendor/tessdata"]
	path = vendor/tessdata
	url = https://github.com/tesseract-ocr/tessdata.git
